
<div class="forms">
<form action="/contributions_save"> 
    <h2>Adding a contributions</h2>
  <label for="catigory">contributor id</label>
  <input type="text" name="catigory"></br></br>
  <label for="catigory">assignment id</label>
  <input type="Number" name="catigory"></br></br>
  <input type="submit">
</form>

<form action="/contributions_delete">
  <h2>deleting contributions </h2>
  
  <label for="contributor_id">please enter <b>one</b> contributor id number of the contribution you'd like to delete. </label> 
  <input type="text" placeholder="1" name="contributor_id"></br></br>
  <label for="assignment_id">please enter <b>one</b> assignment id number of the contribution you'd like to delete. </label> 
  <input type="text" placeholder="2" name="assignment_id">
  <input type="submit">
</form>

</div>

<div class="list">
    <h2>Current contributions</h2>
<!--loop through stuff -->
</div>

