<!doctype html>
<head>
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>

  <title>AO</title>
  
  <div class="top_bar martiniB">
    <div id="logo">
      <a href="/home"><h1><span>Assignment </span><em>tracker</em></h1></a>
    </div>
    <div id="adminicon">
      <img src="../images/cog.png" alt="ambiguous sillhouette">
    </div>
  </div>

 

</head>
</header>
<body>
<%=yield%>
<script src="global.js"></script
</body>
<footer>
 
<p>footer test</p>
</footer>
</html>