
<div class="forms">
<form action="/resource_save"> 
    <h2>Adding a resource</h2>
  <label for="rd_id">resource catigory id</label>
  <input type="Number" name="rd_id"></br></br>
  <label for="assignment_id">assignment id</label>
  <input type="Number" name="assignment_id"></br></br>
  <input type="submit">
</form>

<form action="/resource_delete">
  <h2>deleting resource </h2>
  
  <label for="id">please enter <b>one</b> id number of the resource catigory you'd like to delete. </label> 
  <input type="text" placeholder="1" name="id">
  <input type="submit">
</form>


<form action="/resource_edit">
  <h2>Editing a resource</h2>
  
  <label for="id">please enter <b>one</b> id number of the resource catigory you'd like to edit. </label> 
  <input type="text" placeholder="1" name="id"></br></br>
  
  <label for="catigory">new resource catigory</label>
  <input type="text" name="catigory"></br></br>

  <input type="submit">
</form>
</div>

<div class="list">
    <h2>Current resources</h2>
    <ul>
      <% Resource.all.each do |project| %>
      <li> ID <%= project.id %> – <%= project.rd_id %> – <%= project.assignment_id %> </li>
      <% end %>
    </ul>

</div>

