    
<form action="/rt_save"> 
  <h2>Adding resource category</h2>
  <label for="catigory">New resource category:</label> 
  <input type="text" placeholder="video" name="catigory">
  <input type="submit"></br>
</form>
<form action="/rt_delete">
  <h2>deleting resource category</h2>
  
  <label for="id">please enter <b>one</b> id number of the resource you'd like to delete. </label> 
  <input type="text" placeholder="1" name="id">
  <input type="submit">
</form>
