<div id="intro">
  <p>To keep track of assignments is a nasty task, below are some options for you.</p>
</div>
<div id="menu">

  <div class="section" id "assignments">
    <h2>Assignments</h2>
    <ul>

      <li><a href="assignments/add">add</a></li>
      <li><a href="assignments/edit">edit</a> </li>
      <li><a href="assignments/delete">delete</a> </li>
      <li><a href="assignments/view">view list</a></li>
    </ul>
  </div>
  <div class="section" id "rt">
    <h2>Resource catigories</h2>
    <ul>

      <li><a href="rc/add" >add</a></li>
      <li><a href="rc/edit">edit</a> </li>
      <li><a href="rc/delete">delete</a> </li>
      <li><a href="rc/view">view list</a></li>
    </ul>
  </div>
  <div class="section" id "resources">
    <h2>resources</h2>
    <ul>

      <li><a href="resources/add" >add</a></li>
      <li><a href="resources/edit">edit</a> </li>
      <li><a href="resources/delete">delete</a> </li>
      <li><a href="resources/view">view list</a></li>
    </ul>
  </div>
  <div class="section" id "contributors">
    <h2>contributors</h2>
    <ul>

      <li><a href="contributors/add" >add</a></li>
      <li><a href="contributors/edit">edit</a> </li>
      <li><a href="contributors/delete">delete</a> </li>
      <li><a href="contributors/view">view list</a></li>
    </ul>

  <div class="section" id "contributions">
    <h2>contributions</h2>
    <ul>
      <li><a href="contributions/add" >add</a></li>
      <li><a href="contributions/delete">delete</a> </li>
      <li><a href="contributions/view">view list</a></li>
    </ul>
      </div>
    <div class="section" id "allthings">
    <h2>All the things</h2>
    <ul>
      <li><a href="view/all"> view all the things</a></li>
    </ul>
  </div>
  </div>
    
</div>

